In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv('content/Product_data_bmGokul1.csv')

In [7]:
data.head()

,ID,FAT,SNF,Rate,ChartId,RateDate,Type,CurrentChart,RateChartName
0,337,5.1,8.1,24.9,2,2017-04-01,BM Rate,0,Gokul1
1,338,5.1,8.2,25.9,2,2017-04-01,BM Rate,0,Gokul1
2,339,5.1,8.3,26.9,2,2017-04-01,BM Rate,0,Gokul1
3,340,5.1,8.4,27.9,2,2017-04-01,BM Rate,0,Gokul1
4,341,5.1,8.5,28.9,2,2017-04-01,BM Rate,0,Gokul1

In [16]:
data.shape

(2020, 9)

In [12]:
flitered_data  = data[(data['FAT'] == 3.0) & (data['SNF'] == 7.5)]

In [14]:
flitered_data.head()

Empty DataFrame
Columns: [ID, FAT, SNF, Rate, ChartId, RateDate, Type, CurrentChart, RateChartName]
Index: []

In [18]:
#It's possible there are leading or trailing whitespaces
#first check the unique values in the 'Type' column to see 
unique_types = data['FAT'].unique()
print(unique_types)

[ 5.0999999   5.19999981  5.30000019  5.4000001   5.5         5.5999999
  5.69999981  5.80000019  5.9000001   6.          6.0999999   6.19999981
  6.30000019  6.4000001   6.5         6.5999999   6.69999981  6.80000019
  6.9000001   7.          7.0999999   7.19999981  7.30000019  7.4000001
  7.5         7.5999999   7.69999981  7.80000019  7.9000001   8.
  8.10000038  8.19999981  8.30000019  8.39999962  8.5         8.60000038
  8.69999981  8.80000019  8.89999962  9.          9.10000038  9.19999981
  9.30000019  9.39999962  9.5         9.60000038  9.69999981  9.80000019
  9.89999962 10.        ]