Merge Two DataFrame Using Pandas

In [11]:
#Library
import pandas as pd
import warnings

In [12]:
warnings.simplefilter("ignore")

In [13]:
#file path address 
file_path1 ="content/RateChartDetails.xlsx"

#created DataFrame df1
df1 = pd.read_excel(file_path1)

print(df1.head())

   ID  FAT  SNF  Rate  ChartId
0   1  3.0  7.5  14.4        1
1   2  3.0  7.6  15.4        1
2   3  3.0  7.7  16.4        1
3   4  3.0  7.8  17.4        1
4   5  3.0  7.9  18.4        1

In [14]:
file_path2 = "content/RateChartMaster.xlsx"

df2 = pd.read_excel(file_path2)

print(df2.head())

   ChartId   RateDate        Type  CurrentChart RateChartName
0        1 2017-04-01  CM Rate                0        Gokul1
1        2 2017-04-01  BM Rate                0        Gokul1
2        3 2017-06-21  CM Rate                0        Gokul1
3        4 2017-09-01  CM Rate                0      Mangsuli
4        5 2017-09-01  BM Rate                0      Mangsuli

In [15]:
data = pd.merge(df1, df2, on="ChartId")

In [16]:
data.head()

,ID,FAT,SNF,Rate,ChartId,RateDate,Type,CurrentChart,RateChartName
0,1,3.0,7.5,14.4,1,2017-04-01,CM Rate,0,Gokul1
1,2,3.0,7.6,15.4,1,2017-04-01,CM Rate,0,Gokul1
2,3,3.0,7.7,16.4,1,2017-04-01,CM Rate,0,Gokul1
3,4,3.0,7.8,17.4,1,2017-04-01,CM Rate,0,Gokul1
4,5,3.0,7.9,18.4,1,2017-04-01,CM Rate,0,Gokul1

In [17]:
# Check the data types of each column
print("\nData types:")
print(data.dtypes)

Data types:
ID                        int64
FAT                     float64
SNF                     float64
Rate                    float64
ChartId                   int64
RateDate         datetime64[ns]
Type                     object
CurrentChart              int64
RateChartName            object
dtype: object

In [31]:
#It's possible there are leading or trailing whitespaces
#first check the unique values in the 'Type' column to see 
unique_types = data['Type'].unique()
print(unique_types)

['CM Rate   ' 'BM Rate   ']

In [29]:
# Filter the DataFrame based on specific values in 'Type' and 'RateChartName' columns
filtered_df = data[(data['Type'] == 'CM Rate   ') & (data['RateChartName'] == 'Gokul1')]

In [30]:
print(filtered_df)

          ID  FAT  SNF       Rate  ChartId   RateDate        Type
0          1  3.0  7.5  14.400000        1 2017-04-01  CM Rate     \
1          2  3.0  7.6  15.400000        1 2017-04-01  CM Rate
2          3  3.0  7.7  16.400000        1 2017-04-01  CM Rate
3          4  3.0  7.8  17.400000        1 2017-04-01  CM Rate
4          5  3.0  7.9  18.400000        1 2017-04-01  CM Rate
...      ...  ...  ...        ...      ...        ...         ...
28318  31618  5.9  8.1  28.969999       53 2020-05-01  CM Rate
28319  31619  5.9  8.2  29.969999       53 2020-05-01  CM Rate
28320  31620  5.9  8.3  30.969999       53 2020-05-01  CM Rate
28321  31621  5.9  8.4  31.969999       53 2020-05-01  CM Rate
28322  31622  5.9  8.5  32.970001       53 2020-05-01  CM Rate

       CurrentChart RateChartName
0                 0        Gokul1
1                 0        Gokul1
2                 0        Gokul1
3                 0        Gokul1
4                 0        Gokul1
...             ...           ...
28318             0        Gokul1
28319             0        Gokul1
28320             0        Gokul1
28321             0        Gokul1
28322             0        Gokul1

[2963 rows x 9 columns]

In [94]:
# # Filter for rows where Type is 'CM Rate' and RateChartName is 'Gokul1' (combined condition)
# newdf = data[(data['Type'] == 'CM Rate')]

# # Print the resulting DataFrame
# print(newdf)

Empty DataFrame
Columns: [ID, FAT, SNF, Rate, ChartId, RateDate, Type, CurrentChart, RateChartName]
Index: []

In [33]:
filtered_df.to_csv('Product_data_cmGokul1.csv', index=False)

In [34]:
filtered_df2 = data[(data['Type'] == 'BM Rate   ') & (data['RateChartName'] == 'Gokul1')]

In [35]:
print(filtered_df2)

        ID   FAT   SNF       Rate  ChartId   RateDate        Type
336    337   5.1   8.1  24.900000        2 2017-04-01  BM Rate     \
337    338   5.1   8.2  25.900000        2 2017-04-01  BM Rate
338    339   5.1   8.3  26.900000        2 2017-04-01  BM Rate
339    340   5.1   8.4  27.900000        2 2017-04-01  BM Rate
340    341   5.1   8.5  28.900000        2 2017-04-01  BM Rate
...    ...   ...   ...        ...      ...        ...         ...
7963  8300  10.0   9.6  51.650002       17 2018-08-01  BM Rate
7964  8301  10.0   9.7  51.700001       17 2018-08-01  BM Rate
7965  8302  10.0   9.8  51.750000       17 2018-08-01  BM Rate
7966  8303  10.0   9.9  51.799999       17 2018-08-01  BM Rate
7967  8304  10.0  10.0  51.849998       17 2018-08-01  BM Rate

      CurrentChart RateChartName
336              0        Gokul1
337              0        Gokul1
338              0        Gokul1
339              0        Gokul1
340              0        Gokul1
...            ...           ...
7963             1        Gokul1
7964             1        Gokul1
7965             1        Gokul1
7966             1        Gokul1
7967             1        Gokul1

[2020 rows x 9 columns]

In [36]:
filtered_df2.to_csv('Product_data_bmGokul1.csv', index=False)