In [51]:
import pandas as pd

In [52]:
file_path = 'horoscopes.csv'

In [53]:
df = pd.read_csv(file_path, delimiter='|', names=["sr no", "prediction", "date", "zodiacsign"])

In [54]:
df

,sr no,prediction,date,zodiacsign
0,0,You’re not the sort to play safe and even if y...,12-01-2013,aries
1,1,There is no such thing as something for nothin...,12-02-2013,aries
2,2,As the new moon falls in one of the more adven...,12-03-2013,aries
3,3,You will hear something amazing today but can ...,12-04-2013,aries
4,4,A friend or colleague you have not seen for a ...,12-05-2013,aries
...,...,...,...,...
12975,1,There is no such thing as something for nothin...,12-02-2013,Aries
12976,2,As the new moon falls in one of the more adven...,12-03-2013,Aries
12977,3,You will hear something amazing today but can ...,12-04-2013,Aries
12978,4,A friend or colleague you have not seen for a ...,12-05-2013,Aries
12979,5,You may be a nice guy by nature but most likel...,12-06-2013,Aries

In [49]:
file_path_write = 'output.csv'

In [50]:
# Save the DataFrame as a new CSV file
df.to_csv(file_path_write, index=False)  #index=False to exclude the index column